@model Contracts_Module_Sample.Models.CMSTask

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>
    </dl>
</div>
<div class="form-group">
    <table>
        <tr>
            <td>
                <label asp-for="CreateDate" class="col-md-2 control-label"></label>
            </td>
            <td>
                <label class="col-md-2 control-label">@Html.ValueFor(model => model.CreateDate, "{0:dd/MM/yyyy}")</label>
            </td>
        </tr>
        @if (Model.IsComleted)
        {
            <tr>
                <td>
                    <label asp-for="EditDate" class="col-md-2 control-label"></label>
                </td>
                <td>
                    <label class="col-md-2 control-label">@Html.ValueFor(model => model.EditDate, "{0:dd/MM/yyyy}")</label>
                </td>
            </tr>
        }
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
